body {
  font-family: 'Noto Sans KR', sans-serif !important;
}
a {
  text-decoration: none;
}

.side-nav {
  width: 300px;
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
  box-sizing: border-box;
  z-index: 2;
}
.side-nav .side-inner {
  position: fixed;
  height: 100vh;
  width: 270px;
}


/* 다크 */
.side-nav.dark .side-content {
  background-color: #000;
}
.side-nav.dark .side-inner{
  background-color: #000;
}
.side-nav.dark a {
  color: #fff;
}
.side-nav.dark .nav .nav-content {
  border-top: 3px solid #1E1B1B;
  color: #fff;
}
.side-nav.dark .nav .nav-content:nth-child(5) {
  border-bottom: 3px solid #1E1B1B;
}
.side-nav.dark .nav .nav-content:hover {
  background-color: #1E1B1B;
  border-top: 3px solid #000;
}
.side-nav.dark .nav .nav-content.currentPage::before {
  background-color: #fff;
  width: 7px;
  height: 100%;
  top: 0;
  left: 0;
  content: '';
  position: absolute;
}
.side-nav.dark .nav .nav-sub {
  border: 1px solid #1E1B1B;
  background-color: #000;
}
.side-nav.dark .nav .nav-sub .nav-subContent a {
  color: #fff;
}
.side-nav.dark .nav .nav-sub .nav-subContent:hover {
  background-color: #1E1B1B;
}
.side-nav.dark .nav .nav-sub .nav-subContent:nth-child(1){
  border-bottom: 1px solid #1E1B1B;
}
.side-nav.dark .nav .nav-sub .nav-subContent:nth-child(2){
  border-bottom: 1px solid #1E1B1B;
}
.side-nav.dark .side-footer p {
  color: #fff;
}
.side-nav.dark .side-footer {
  border-top: 3px solid #1E1B1B;
}


/* logo */
.side-logo {
  height: 180px;
  position: relative;
  box-sizing: border-box;
  padding: 20px 25px 10px 35px;
}
.side-logo img{
  width: 190px;
  height: 130px;
}



/* 사이드바 */
.side-inner .side-content {
  position: relative;
  background-color: #fff;
  height: 400px;
  box-sizing: border-box;
}
.side-nav .moveFrame {
  color: #000;
  display: block;
  height: 60px;
  padding: 20px 25px 10px 35px;
  box-sizing: border-box;
}
.side-nav .nav .nav-content {
  height: 60px;
  position: relative;
  border-top: 3px solid #D1D0CE;
  color: #000;
  font-size: 18px;
  box-sizing: border-box;
}
.side-nav .nav .nav-content:nth-child(5) {
  border-bottom: 3px solid #D1D0CE;
}
.side-nav .nav .nav-content:hover .nav-sub{
  opacity: 1;
  left: 269px;
  transition: left 1.5s, opacity 1.5s;
} 
.side-nav .nav .nav-content:hover {
  background-color: #D1D0CE;
  border-top: 3px solid #fff;
}
.side-nav .nav .nav-sub {
  height: 120px;
  width: 150px;
  position: absolute;
  display: block;
  left: 100px;
  top: 0;
  box-sizing: border-box;
  border: 1px solid #D1D0CE;
  border-radius: 0 10px 10px 0;
  background-color: #fff;
  opacity: 1;
  z-index: -1;
}
.side-nav .nav .nav-sub .nav-subContent {
  height: 40px;
  padding-top: 9px;
  text-align: center;
  box-sizing: border-box;
  padding-left: 1px;
  position: relative;
  color: #000;
}
.side-nav .nav .nav-sub .nav-subContent a {
  color: #000;
}
.side-nav .nav .nav-content:hover span{
  font-weight: 700;
}
.side-nav .nav .nav-sub .nav-subContent:hover {
  background-color: #D1D0CE;
  font-weight: 700;
}
.side-nav .nav .nav-sub .nav-subContent:nth-child(1){
  border-bottom: 1px solid #D1D0CE;
  border-radius: 0 10px 0 0;
}
.side-nav .nav .nav-sub .nav-subContent:nth-child(2){
  border-bottom: 1px solid #D1D0CE;
}
.side-nav .nav .nav-sub .nav-subContent:nth-child(3){
  border-radius: 0 0 10px 0;
}



/* footer */
.side-footer {
  position: absolute;
  height: 300px;
  border-top: 3px solid #D1D0CE;
  width: 270px;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.side-footer p {
  text-align: center;
}
.side-footer .footer-img {
  display: flex;
  justify-content: center;
}
.side-footer .footer-img img {
  width: 60px;
  height: 60px;
  margin: 0 20px;
}
.side-footer .footer-info {
  line-height: 1.5;
} 
.side-footer .footer-alert {
  line-height: 1.5;
}
/* iframe */
.iframe {
  position: absolute;
  top: 0;
  left: 270px;
  width: calc(100vw - 270px);
  height: 100vh;
  z-index: 1;
}
.iframe iframe{
  position: absolute;
  width: 100%;
  height: 100%;
}
.wrap {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}